{% extends "includes/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}WELCOME{% endblock header %}
{% block content %}
    <div class="main">
        <div class="subheader d-flex justify-content-center">
            I am
        </div>
        <div class="subheader d-flex justify-content-center">
            <strong class="px-1 mt-2">NOLAN GREGORY</strong>
        </div>
    </div>
    <div id="container" class="waves" touch-action="none"></div>
{% endblock content %}